<section id="popular-books" class="mb-5">
    <div class="container">

        <div class="row mt-3   ">
            <div class="col-12 col-md-4 mb-4 mb-md-0" *ngIf="(latestBook$ | async) as latestBook">

                <div class="card d-flex flex-row" style="background-color: #de002f;">
                    <img [src]="imagesUrl + '/'+latestBook.image" alt="Book cover">

                    <div class="card-body align-self-end mb-4">
                        <h5 class="card-title fw-bolder text-white fs-1">اصدارات جديــــــدة</h5>
                        <a href="/buy" class="btn btn-outline-dark text-white mt-2"
                            style="background-color: #9c0021">اشتري الان</a>
                    </div>
                </div>


            </div>
            <div class="col-12 col-md-4 mb-4 mb-md-0" *ngIf="(mostSoldBook$ | async) as mostSoldBook">

                <div class="card d-flex flex-row" style="background-color: #153e76;">
                    <img [src]="imagesUrl + '/'+mostSoldBook.image" alt="Book cover">


                    <div class="card-body align-self-end mb-4">
                        <h5 class="card-title fw-bolder text-white fs-1 ">أكثـــــــر مبيعـــا</h5>
                        <a href="/buy" class="btn btn-outline-dark mt-2 text-white"
                            style="background-color:#062754 ;">اشتري
                            الان</a>
                    </div>
                </div>


            </div>

            <div class="col-12 col-md-4 mb-4 mb-md-0" *ngIf="(mostOrderdBook$ | async) as mostOrderdBook">

                <div class="card d-flex flex-row" style="background-color: #009c96;">
                    <img [src]="imagesUrl + '/'+mostOrderdBook.image" alt="Book cover">

                    <div class="card-body align-self-end mb-4">
                        <h5 class="card-title fw-bolder text-white fs-1 ">الاكثـــر طلبـــــا</h5>
                        <a href="/buy" class="btn btn-outline-dark mt-2 text-white"
                            style="background-color:#026c68 ;">اشتري
                            الان</a>
                    </div>
                </div>


            </div>


        </div>
    </div>
</section>