#site-nav {
  background-color: #009c96;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a.active {
  color: white;
}

ol.breadcrumb {
  list-style: none;
}

ol.breadcrumb li::before {
  content: ">";
  color: white;
  margin-right: 8px;
}

ol.breadcrumb li:first-child::before {
  content: "";
}

.sale-button {
  background-color: #009c96;
  color: white;
}
