<section id="breadcrumbs" class="mb-5">
    <div class="container">
        <nav id="site-nav" class="py-2 px-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">الرئيسية</a></li>
                <li class="breadcrumb-item "><a routerLink="/books" routerLinkActive="active">الروايات</a></li>
                <li class="breadcrumb-item "><span class="text-white">التفاصيل</span></li>


            </ol>
        </nav>
    </div>
</section>


<section id="book-details" *ngIf="(book$ |async) as book">
    <div class="container">
        <div class="row mb-5">
            <!-- Start of book info -->
            <div class="col-md-6 d-flex flex-row">
                <img [src]="imagesUrl + '/'+book.image" class="img-thumbnail w-50">

                <div class="book-info  ms-4">
                    <div class="book-header">
                        <p class="fs-3 fw-bold">{{book.name}}</p>
                        <p class="fs-6 fw-bold">المؤلف : <span class="text-muted">{{book.author.name}}</span></p>
                    </div>
                    <div class="stars mb-3">
                        <span>(2)</span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <div class="book-details">
                        <div class="row justify-content-between">
                            <div class="col-4">
                                <p class="fs-6 fw-bold">
                                    دار النشر
                                </p>
                            </div>
                            <div class="col-6">
                                <span class="text-muted">:{{book.publisher.name}}</span>
                            </div>
                            <div class="col-4">
                                <p class="fs-6 fw-bold">
                                    اسم المؤلف
                                </p>
                            </div>
                            <div class="col-6">
                                <span class="text-muted">:{{book.author.name}}</span>
                            </div>
                            <ng-container *ngIf="book.translator">
                                <div class="col-4">
                                    <p class="fs-6 fw-bold">
                                        المترجم
                                    </p>
                                </div>
                                <div class="col-6">
                                    <span class="text-muted">:{{book.translator.name}}</span>
                                </div>
                            </ng-container>

                            <div class="col-4">
                                <p class="fs-6 fw-bold">
                                    سنة النشر
                                </p>
                            </div>
                            <div class="col-6">
                                <span class="text-muted">:{{book.publishYear}}</span>
                            </div>
                            <div class="col-5">
                                <p class="fs-6 fw-bold">
                                    عدد الصفحات
                                </p>
                            </div>
                            <div class="col-6">
                                <span class="text-muted">:{{book.pageCount}}</span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <!-- End of book info -->

            <!-- start of book sale -->
            <div class="col-md-6 " *ngIf="isLoggedIn$ | async">

                <div class="row justify-content-center mt-5">
                    <div class="w-50  p-5" style="background-color: #e1e1e1;">
                        <div class="book-sale-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="fs-6 fw-bold" style="color: #009c96;">سعر الكتاب :</p>

                                </div>

                                <div class="col-md-6 d-flex ">
                                    <p class="price fs-5 fw-bold m-0">${{book.price}}</p>
                                    <span class="align-self-center m-2 text-muted">${{book.discount}}</span>
                                </div>



                                <div class="col-md-12">
                                    <form class="row" [formGroup]="cartFormGroup" (ngSubmit)="OnAddToCart()">
                                        <div class="col-md-6">
                                            <p class="fs-6 fw-bold" style="color: #009c96;">الكمية:</p>

                                        </div>
                                        <div class="col-md-6">
                                            <input type="number" formControlName="amount" class="form-control">
                                        </div>

                                        <div class="col-md-6 ">
                                            <button class="border border-secondary px-3 py-1 sale-button fw-light w-100"
                                                [disabled]="!cartFormGroup.valid">اشتري</button>

                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary sale-button rounded-0"
                                                *ngIf="!isFavoriteAlready(book.id);else alreadyFav"
                                                (click)="OnAddToFavorite(book.id)">اضافة
                                                للمفضلة</button>

                                            <ng-template #alreadyFav>
                                                <button
                                                    class="border border-secondary px-3 py-1 bg-danger sale-button fw-light w-100"
                                                    (click)="OnRemoveFromFavorite(book.id)">الغاء
                                                    للمفضلة</button>
                                            </ng-template>

                                        </div>
                                    </form>


                                </div>

                            </div>



                        </div>
                    </div>
                </div>

            </div>

            <!-- end of book sale -->
        </div>


        <!--start of  about book -->
        <div class="card h-100 mb-5" style="background-color: #f2f2f2;">
            <div class="card-header">
                <p class="fs-5 fw-bold">عن الكتاب</p>
            </div>
            <div class="card-body">
                {{book.about}}
            </div>
        </div>
        <!-- end of about book -->

        <!-- start of book reviews -->
        <h4 class="fw-bold mb-5" style="color: #009c96;">مراجعات المستخدمين </h4>
        <app-book-reviews [bookReviews]="bookReviews"></app-book-reviews>
        <!-- end of book reviews -->

        <!-- start of add review to the book form -->


        <ng-container *ngIf="isLoggedIn$ | async">
            <h4 class="fw-bold mb-4" style="color: #009c96;">اضافة مراجعه</h4>


            <form [formGroup]="reviewFormGroup" class="mb-5 " (ngSubmit)="HandleOnAddReview()">
                <div class="row">
                    <div class="col-md-7 mb-3">
                        <app-text-area [control]="commentFormControl" label="التعليق"></app-text-area>

                    </div>

                    <div class="col-md-2">
                        <app-input label="التقييم" type="number" [control]="ratingFormControl"></app-input>

                    </div>


                </div>

                <div class="row">
                    <div class="col-md-4">
                        <button [disabled]="!reviewFormGroup.valid" type="submit" class="btn
              btn-success">اضافة</button>
                    </div>
                </div>
            </form>
        </ng-container>

        <!--end of add review to the book form  -->




    </div>

</section>