<div class="sidebar text-bg-dark ">
  <p class="fw-bold fs-3 mx-2 d-block d-sm-inline-block mt-2 me-4">Dashboard</p>
  <a href="#"><span class="fst-italic">Users</span></a>
  <a href="#">Events</a>
  <a href="#">Categories</a>
  <a href="#">Tags</a>
</div>

<div class="content ">
  <div class="container mt-3">
    <div class="display-4 ">Admin Dashboard</div>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Fugit, cumque
      velit odio ducimus sunt in maiores consectetur praesentium eum facere
      voluptates deleniti possimus aliquid? Voluptatibus error facilis a id
      reprehenderit!</p>
  </div>

</div>
