<div class="container">
    <nav id="admin-nav" class="py-2 px-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">لوحة التحكم </a></li>
            <li class="breadcrumb-item "><a routerLink="category" routerLinkActive="active">التصنيفات</a></li>
            <li class="breadcrumb-item "><a routerLink="author" routerLinkActive="active">المؤلفين</a></li>
            <li class="breadcrumb-item "><a routerLink="translator" routerLinkActive="active">المترجمين</a></li>
            <li class="breadcrumb-item "><a routerLink="publisher" routerLinkActive="active">دور النشر</a></li>
            <li class="breadcrumb-item "><a routerLink="books" routerLinkActive="active">الكتب</a></li>
            <li class="breadcrumb-item "><a routerLink="zones" routerLinkActive="active">المحافظات</a></li>
            <li class="breadcrumb-item "><a routerLink="addresses" routerLinkActive="active">العناوين</a></li>
            <li class="breadcrumb-item "><a routerLink="static-pages" routerLinkActive="active">الصفحات الثابته</a></li>
            <li class="breadcrumb-item "><a routerLink="sales" routerLinkActive="active">المبيعات</a></li>
            <li class="breadcrumb-item "><a routerLink="contactus" routerLinkActive="active">التواصل معنا</a></li>
            <li class="breadcrumb-item "><a routerLink="book-suggestions" routerLinkActive="active">اقتراحات الكتب</a>
            </li>

        </ol>
    </nav>

</div>


<router-outlet></router-outlet>