<div class="container">
    <nav id="admin-nav" class="py-2 px-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">لوحة التحكم </a></li>
            <li class="breadcrumb-item "><a routerLink="category" routerLinkActive="active">التصنيفات</a></li>
            <li class="breadcrumb-item "><a routerLink="author" routerLinkActive="active">المؤلفين</a></li>
            <li class="breadcrumb-item "><a routerLink="translator" routerLinkActive="active">المترجمين</a></li>
            <li class="breadcrumb-item "><a routerLink="publisher" routerLinkActive="active">دور النشر</a></li>

        </ol>
    </nav>

</div>


<router-outlet></router-outlet>
