<app-navbar></app-navbar>

<div class="container py-4">
  <section id="showcase">
    <div class="p-5 mb-5 text-bg-dark rounded-3">
      <div class="container py-5">
        <h1 class="display-5 fw-bold">Events</h1>
        <p class="col-md-8 lead fs-4">
          Events App helps you find new people nearby who share your interests and
          want to join event and chat now! It's fun, friendly
        </p>
        <button class="btn btn-primary btn-lg" type="button">Learn More</button>
      </div>
    </div>

  </section>
  <!-- <div class="row mb-5 text-center">
    <div class="display-6 lead fw-semibold">Most Popular Categories</div>
  </div> -->

  <!-- <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 mb-4">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4
        shadow-lg" style="background-image: url('unsplash-photo-1.jpg')">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Short title, long jacket
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                class="rounded-circle border border-white" />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4
            shadow-lg" style="background-image: url('unsplash-photo-2.jpg')">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white
              text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Much longer title that wraps to multiple lines
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                class="rounded-circle border border-white" />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>Pakistan</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark
                rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg')">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Another longer title belongs here
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                class="rounded-circle border border-white" />
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#geo-fill" />
              </svg>
              <small>California</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em">
                <use xlink:href="#calendar3" />
              </svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <section id="popular-events" class="mb-5">
    <div class="container">
      <h2 class="section-title display-6 fw-bold mb-3">Popular Events</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row
                        mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a
                natural lead-in
                to additional content.
              </p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
                            slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row
                        mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">
                This is a wider card with supporting text below as a
                natural lead-in
                to additional content.
              </p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid
                            slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c" />
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="popular-categories" class="mb-5">
    <div class="container">
      <div class="section-title display-6 mb-3 fw-bold">Popular Categories</div>

      <div class="row">
        <div class="col-md-6">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4
          shadow-lg" style="background-image: url('unsplash-photo-1.jpg')">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                Gaming
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                    class="rounded-circle border border-white" />
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>Earth</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4
          shadow-lg" style="background-image: url('unsplash-photo-1.jpg')">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                Sport
              </h3>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                  <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                    class="rounded-circle border border-white" />
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#geo-fill" />
                  </svg>
                  <small>Earth</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em">
                    <use xlink:href="#calendar3" />
                  </svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-5">Our Features</h2>
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body d-flex align-items-center">
              <div>
                <h4>Upcoming Events</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum, justo in aliquam
                  tincidunt.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body d-flex align-items-center">
              <!-- <ng-icon icon="bi bi-dribbble" class="bi-3x text-primary mr-3"></ng-icon> -->
              <div>
                <h4>Gaming Tournaments</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum, justo in aliquam
                  tincidunt.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="card-body d-flex align-items-center">
              <div>
                <h4>Gaming Tournaments</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum, justo in aliquam
                  tincidunt.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <router-outlet></router-outlet>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between
                          align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted
                              text-decoration-none lh-1">
          <svg class="bi" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <span class="mb-3 mb-md-0 text-muted">© 2022
          Events Wep App,Inc</span>
      </div>

      <ul class="nav col-md-4 justify-content-end
                            list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#twitter"></use>
            </svg></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#instagram"></use>
            </svg></a>
        </li>
        <li class="ms-3">
          <a class="text-muted" href="#"><svg class="bi" width="24" height="24">
              <use xlink:href="#facebook"></use>
            </svg></a>
        </li>
      </ul>
    </footer>
  </div>
