<label class="form-label">{{label}}</label>

<input [type]="type" class="form-control" [formControl]="control">
<ng-container *ngIf="control.touched && !control.valid || control.dirty">

    <p *ngIf="control.getError('required')" class="text-danger">
        {{label}} مطلوب
    </p>

    <p *ngIf="control.getError('email')" class="text-danger">
        الرجاء ادخل البريد الالكتروني بشكل صحيح
    </p>
    <p *ngIf="control.getError('mustMatch')" class="text-danger">
        كلمة المرور غير متطابقة الرجاء اعادة كتابتها
    </p>

</ng-container>