<div class="container mt-3">
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <div class="display-5">
        Register Page
      </div>

    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="HandleSubmitForm()">
        <div class="mb-3">
          <app-input [control]="firstName" label="First Name" type="text"></app-input>
        </div>
        <div class="mb-3">
          <app-input [control]="lastName" label="Last Name" type="text"></app-input>
        </div>
        <div class="mb-3">
          <app-input [control]="userName" label="Username" type="text"></app-input>
        </div>
        <div class="mb-3">
          <app-input [control]="email" label="Email" type="text"></app-input>
        </div>

        <div class="mb-3">
          <app-input [control]="password" label="Password" type="password"></app-input>
        </div>
        <div class="mb-3">
          <app-input [control]="confirmPassword" label="Confirm Password"
            type="password"></app-input>
          <p class="text-danger" *ngIf="confirmPassword.touched &&
            !confirmPassword.valid||
            registerForm.getError('match_error')">
            Password and Confirm password does not match !
          </p>
        </div>



        <button [disabled]="!registerForm.valid" type="submit" class="btn
          btn-primary">Register</button>
      </form>
    </div>


  </div>

</div>
