/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.min.css";

footer {
  background-color: #009c96;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
  src: url("./assets/fonts/HelveticaNeueLTArabic-Roman.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNeueLTArabic-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "HelveticaNeueLT Arabic 55 Roman";
}

/* #hero {
  background-image: url(/assets/hero.png);
} */

.card {
  height: 350px;
  /* width: 500px; */
}

.card img {
  height: 100%;
  width: 50%;
}

.card a {
  border: 3px solid transparent;
}

#site-nav {
  background-color: #009c96;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a.active {
  color: white;
}

ol.breadcrumb {
  list-style: none;
}

ol.breadcrumb li::before {
  content: ">";
  color: white;
  margin-right: 8px;
}

ol.breadcrumb li:first-child::before {
  content: "";
}

.input-bg {
  background-color: #e4e4e4;
}

.green-button {
  background-color: #009c96;
  color: white;
}
