@model Post
@{
    ViewData["Title"] = "Edit Post Page";
}

<div class="text-center">
    <h1>Edit Post</h1>
    <form asp-action="Edit" asp-controller="Blog">
        <input type="hidden" asp-for="Id" value="@Model.Id">

        <input type="text" asp-for="Title">
        <input type="submit" value="Update">
    </form>
</div>
