<div class="card  mb-4" style="border-color: #009c96;background-color: #f2f2f2;" *ngFor="let review of bookReviews">
    <div class="card-header">
        <div class="row">
            <div class="col-md-4">
                <p class="fw-bold" *ngIf="!currentUrl.includes('account');else displayBookName">{{review.userName}}</p>
                <ng-template #displayBookName>
                    اسم الكتاب : <a class="fw-bold" [routerLink]="['/books',review.bookId]">{{review.bookName}}</a>

                </ng-template>

            </div>

            <div class="col-md-3">
                <div class="d-flex">
                    <i class="fa fa-star" *ngFor="let star of [].constructor(review.rate); let i = index"></i>
                </div>

            </div>
            <div class="col-md-4 text-center" *ngIf="currentUserId === review.appUserId">

                <button class="btn btn-danger mx-2" [swal]="{icon:'warning',
                        title: 'تأكيد عملية الحذف' ,
                        text:'هل انت متأكد من حذف مراجعتك ؟',
                        showCancelButton: true,confirmButtonText: 'تأكيد',cancelButtonText:'الغاء' }"
                    (confirm)="HandleOnRemoveReview(review.id)">حذف</button>
            </div>


        </div>
    </div>
    <div class="card-body">
        {{review.comment}}
    </div>
</div>