@model List<Project>




<div class="flex-container">

    @if (!Model.Any())
    {
        <h1 class="heading">No Projects Added yet</h1>
    }
    else
    {
        @foreach (var project in Model)
        {
            <div class="project-item">
                <a asp-action="Show" asp-route-id="@project.Id" asp-controller="Project"> <img src="~/Images/@project.ImagePath"></a>
            </div>

        }
    }


</div>