@model ShowProjectVM

@section css{
<link rel="stylesheet" href="~/assets/styles/project-details.css" asp-append-version="true">
}




<img src="~/Images/@Model.ImagePath" />
<h2>@Model.Title</h2>
@if (Model.Url != null)
{
    <a href="@Model.Url">Project link</a>
}


<div class="buttons-flex">
    <a asp-action="Edit" asp-action="Edit" asp-controller="Project" asp-route-id="@Model.Id" class="bootstrap-btn">Edit</a>
        <form id="DeleteForm"     asp-action="Delete" asp-controller="Project"
     method="post">

        <input asp-for="Id" type="hidden"/>
        <button id="deleteBtn"
                class="bootstrap-btn"
               style=" background-color:red" >Delete</button>
    </form>


</div>

@section js{
<script>
    $("#deleteBtn").click(function(e){
        e.preventDefault();
        swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this project!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
   
         $('#DeleteForm').submit();
  } else {
    swal("The project is not deleted !");
  }
});
    });
  </script>
}