@model LoginViewModel
@{
    var returnUrl = @Context.Request.Query["ReturnUrl"];
}
@section css{
<link rel="stylesheet" href="~/assets/styles/form.css" asp-append-version="true">
}

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>

}


    <h1 class="login-heading">Login Page</h1>

<div class=" login-form">

    <form asp-action="Login" asp-controller="Account" method="post" >
        <label asp-for="Username"></label>
        <input asp-for="Username" /> 
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        @if (!string.IsNullOrEmpty(returnUrl))
        {
            <input asp-for="ReturnUrl" type="hidden" value="@returnUrl"/>    
        }

      
        <input type="submit" value="Login" class="bootstrap-btn">
       
    </form>
</div>
