<div class="container">
    <div class="display-5 mb-4">صفحة الكتب</div>

    <form class="mb-5" [formGroup]="bookFormGroup" (ngSubmit)="HandleOnSubmit()">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 align-self-center col-md-4">
                <div class="mb-3">
                    <label for="book-cover" class="form-label">الشعار</label>
                    <input id="book-cver" (change)="HandleFileInputChange($event)" class="form-control" type="file">
                </div>
            </div>


            <div class="col-md-6 text-end">
                <img class="img-thumbnail mb-2" [src]="imagePreview || 'https://via.placeholder.com/200x300'">

            </div>
        </div>



        <div class="row">
            <div class="col-md-4 mb-4">
                <app-input label="الاسم" type="text" [control]="name"></app-input>

            </div>
            <div class="col-md-4 mb-4">
                <app-input label="السعر" type="number" [control]="price"></app-input>

            </div>
            <div class="col-md-4 mb-4">
                <app-input label="الخصم" type="number" [control]="discount"></app-input>

            </div>
            <div class="col-md-6 mb-4">
                <label for="about-book" class="form-label">عن الكتاب</label>
                <textarea class="form-control" id="about-book" [formControl]="about" rows="3"></textarea>
                <p class="text-danger" *ngIf="about.touched && !about.valid && about.getError('required')">
                    عن الكتاب مطلوب
                </p>

            </div>

            <div class="col-md-3 mb-4">
                <app-input label="سنة النشر" type="number" [control]="publishYear"></app-input>


            </div>
            <div class="col-md-3 mb-4">
                <app-input label="عدد الصفحات" type="number" [control]="pageCount"></app-input>


            </div>


            <div class="col-md-3 mb-4">
                <app-select-input [control]="authorId" label="المؤلف" [options]="authorsOptions"></app-select-input>
            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="publisherId" label="دار النشر"
                    [options]="publishersOptions"></app-select-input>

            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="translatorId" label="المترجم"
                    [options]="translatorOptions"></app-select-input>

            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="categoryId" label="التصنيف"
                    [options]="categoriesOptions"></app-select-input>

            </div>




        </div>


        <div class="row">
            <div class="col-md-4">
                <button [disabled]="!bookFormGroup.valid" type="submit" class="btn btn-success">{{buttonLabel}}</button>
            </div>
        </div>
    </form>





    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">غلاف الكتاب</th>
                            <th scope="col">الاسم</th>
                            <th scope="col">المؤلف</th>
                            <th scope="col">دار النشر</th>
                            <th scope="col">التصنيف</th>
                            <th scope="col">العملية</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of books;let i=index">
                            <th>{{i+1}}</th>
                            <td class="w-25"><img [src]="imagesUrl+'/'+book.image" class="img-thumbnail w-25 "></td>
                            <td>{{book.name}}</td>
                            <td>{{book.author.name}}</td>
                            <td>{{book.publisher.name}}</td>
                            <td>{{book.category.name}}</td>
                            <td>
                                <button class="btn btn-info" (click)="HandleOnEdit(book.id)">تعديل</button>

                                <button class="btn btn-danger mx-2" [swal]="{icon:'warning',
                                title: 'تأكيد عملية الحذف' ,
                                text:'هل انت متأكد من حذف  الكتاب ؟',
                                showCancelButton: true,confirmButtonText: 'تأكيد',cancelButtonText:'الغاء' }"
                                    (confirm)="HandleOnDelete(book.id)">حذف</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>