<div class="container">
    <div class="display-5 mb-4">صفحة الكتب</div>

    <form [formGroup]="bookFormGroup">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 align-self-center col-md-4">
                <div class="mb-3">
                    <label for="book-cover" class="form-label">الشعار</label>
                    <input id="book-cver" (change)="HandleFileInputChange($event)" class="form-control" type="file">
                </div>
            </div>


            <div class="col-md-6 text-end">
                <img class="img-thumbnail mb-2" src="https://via.placeholder.com/200x200">

            </div>
        </div>



        <div class="row">
            <div class="col-md-4 mb-4">
                <app-input label="الاسم" type="text" [control]="name"></app-input>

            </div>
            <div class="col-md-4 mb-4">
                <app-input label="السعر" type="number" [control]="price"></app-input>

            </div>
            <div class="col-md-4 mb-4">
                <app-input label="الخصم" type="number" [control]="discount"></app-input>

            </div>
            <div class="col-md-6 mb-4">
                <label for="about-book" class="form-label">عن الكتاب</label>
                <textarea class="form-control" id="about-book" rows="3"></textarea>

            </div>

            <div class="col-md-3 mb-4">
                <app-input label="سنة النشر" type="number" [control]="publishYear"></app-input>


            </div>
            <div class="col-md-3 mb-4">
                <app-input label="عدد الصفحات" type="number" [control]="pageCount"></app-input>


            </div>


            <div class="col-md-3 mb-4">
                <app-select-input [control]="authorId" label="المؤلف" [options]="authorsOptions"></app-select-input>
            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="publisherId" label="دار النشر"
                    [options]="publishersOptions"></app-select-input>

            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="translatorId" label="المترجم"
                    [options]="translatorOptions"></app-select-input>

            </div>
            <div class="col-md-3 mb-4">
                <app-select-input [control]="categoryId" label="التصنيف"
                    [options]="categoriesOptions"></app-select-input>

            </div>




        </div>


        <div class="row">
            <div class="col-md-4">
                <button [disabled]="!bookFormGroup.valid" type="submit" class="btn btn-success">{{buttonLabel}}</button>
            </div>
        </div>
    </form>

</div>