
a span.blog-link:hover{
    color: rgb(106, 32, 114);

}

.flex-container{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 2%;
    margin-left: 2%;
}

.blog-item{
    width: 100%;
}

.blog-item p,a.blog-title{
    font-weight: 400;
}

.blog-item h2,a.blog-title{
    font-size: 40px;
    color: #515070;
}

.blog-item a.blog-title {
    display: block;
    text-decoration: none;
}

.blog-item a.blog-title:hover {
    color: rgb(106, 32, 114);

}



.blog-item p.blog-text{
    display: inline;
}

.blog-link{
    color: #ff8e6e;
   
}


@media (max-width:500px) {

   
   

    .flex-container{
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        width:100vw; 
       
        
    }

    
    
}

.sidebar{
    height:100% !important;
}