<section id="breadcrumbs" class="mb-5">
    <div class="container">
        <nav id="site-nav" class="py-2 px-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">الرئيسية</a></li>
                <li class="breadcrumb-item "><span class="text-white">روايات</span></li>


            </ol>
        </nav>
    </div>
</section>


<section id="book-list">
    <div class="container">

        <div class="display-5 mb-3 fw-bold" style="color: #009c96;">روايات</div>

        <div class="row mb-4">
            <h4 class="fw-bold">بحث</h4>
            <form class="form-inline" [formGroup]="bookSearchFormGroup" (ngSubmit)="OnSearchSubmit()">
                <div class="row">
                    <div class="col-12 mb-3 mb-md-0 col-md-4">
                        <input type="text" class="form-control input-bg" formControlName="bookName"
                            placeholder="اسم الكتاب">
                    </div>
                    <div class="col-12 mb-3 mb-md-0 col-md-4">
                        <input type="text" class="form-control  input-bg" formControlName="authorName"
                            placeholder="اسم المؤلف">
                    </div>
                    <div class="col-sm-12 mb-sm-3 mb-md-0 col-md-4">
                        <div class="row">
                            <div class="col-3 col-md-3">
                                <label for="year" class="form-label">سنة النشر</label>
                            </div>
                            <div class="col-8 col-md-6 d-flex">
                                <input id="year" type="number" formControlName="year" class="form-control w-50 input-bg"
                                    placeholder="2022">
                                <button type="submit" class="btn btn-success ms-3">بحث</button>
                            </div>
                        </div>

                    </div>



                </div>
            </form>
        </div>

        <div class="row">
            <div class="display-5 mb-5" *ngIf="searchLabel" style="color: #009c96;">
                {{searchLabel}}

            </div>
            <app-books-row [books$]="books$"></app-books-row>


        </div>
    </div>

</section>