<section id="breadcrumbs" class="mb-5">
    <div class="container">
        <nav id="site-nav" class="py-2 px-2">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}">الرئيسية</a></li>
                <li class="breadcrumb-item "><span class="text-white">روايات</span></li>


            </ol>
        </nav>
    </div>
</section>


<section id="book-list">
    <div class="container">

        <div class="display-5 mb-3 fw-bold" style="color: #009c96;">روايات</div>

        <div class="row mb-4">
            <h4 class="fw-bold">بحث</h4>
            <form class="form-inline">
                <div class="row">
                    <div class="col-12 mb-3 mb-md-0 col-md-4">
                        <input type="text" class="form-control input-bg" placeholder="اسم الكتاب">
                    </div>
                    <div class="col-12 mb-3 mb-md-0 col-md-4">
                        <input type="text" class="form-control  input-bg" placeholder="اسم المؤلف">
                    </div>
                    <div class="col-sm-12 mb-sm-3 mb-md-0 col-md-4">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label for="year" class="form-label">سنة النشر</label>
                            </div>
                            <div class="col-8 col-md-6">
                                <input id="year" type="number" class="form-control  input-bg" placeholder="2022">

                            </div>
                        </div>

                    </div>



                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-6 col-md-2 " *ngFor="let book of books$ | async">
                <div class="d-flex flex-column">
                    <a [routerLink]="['/books',book.id]"><img [src]="imagesUrl +'/'+book.image"
                            class="img-thumbnail"></a>
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">${{book.price}}</p>
                            <span class="align-self-center m-2 text-muted">${{book.discount}}</span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>