@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>
    <div class="project-item">
        <a href="project-details.html"> <img src="~/assets/images/project-1.png"></a>
    </div>

</div>