<div class="container mt-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <div class="display-5">
        Login Page
      </div>

    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="OnSubmitLogin()">
        <div class="mb-3">
          <app-input [control]="email" label="Email" type="email">

          </app-input>
        </div>

        <div class="mb-3">
          <app-input [control]="password" label="Password" type="password"></app-input>
        </div>

        <button *ngIf="isLoggin==false" [disabled]="!loginForm.valid"
          type="submit" class="btn
          btn-primary">Login</button>


        <div class="spinner-border text-success" role="status" *ngIf="isLoggin">
          <span class="visually-hidden">Loading...</span>
        </div>

        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
          type="pacman" [fullScreen]="true"><p style="color: white;margin-top:
            3em;"> Loading...
          </p></ngx-spinner>

      </form>
    </div>


  </div>

</div>
