<div class="container mt-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <div class="display-5">
        Login Page
      </div>

    </div>
  </div>
  <div class="row justify-content-center">

    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="OnSubmitLogin()">
        <div class="mb-3">
          <app-input [control]="email" label="Email" type="email">

          </app-input>
        </div>

        <div class="mb-3">
          <app-input [control]="password" label="Password" type="password"></app-input>
        </div>

        <button [disabled]="!loginForm.valid" type="submit" class="btn
          btn-primary">Login</button>
      </form>
    </div>


  </div>

</div>
