<header id="header" class="my-3">
    <div class="container">
        <div class="d-flex justify-content-between ">
            <div>
                <img src="../assets/Logo.png" class="w-50 " alt="" srcset="">
            </div>

            <app-search-bar></app-search-bar>
            <div>
                <div class="row">
                    <div class="col-6 col-md-9">
                        <a class=" text-decoration-none link-dark">
                            <i class="fa fa-user-o  fa-lg">

                            </i>
                            <span class="p-1 d-none d-md-inline-block">حسابي</span>

                        </a>
                    </div>

                    <div class="col-6 col-md-3">
                        <app-cart></app-cart>

                    </div>
                </div>

            </div>

        </div>
    </div>

</header>