<footer>
    <div class="container">
        <div class="row
       py-5 my-5 border-top gap-4">

            <div class="col-md-3 mb-3 d-flex flex-row
        align-items-center gap-3
        ">
                <img src="../assets/footer-logo.png" class="img">
                <p class="fs-2 fw-bolder"><span class="text-white">مكتبتي</span><br> متجر كتب</p>


            </div>

            <div class="col ">
                <h5 class="text-white fw-bold">خدمة القراء</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">اقترح كتابا</a>
                        <a href="#" class="nav-link p-0 text-white">اتصل بنا</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <h5 class="text-white fw-bold">حسابي</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">حسابي</a>
                        <a href="#" class="nav-link p-0 text-white">طلباتي</a>
                    </li>
                </ul>
            </div>
            <div class="col ">
                <h5 class="text-white fw-bold">معلومات</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a routerLink="/faq" class="nav-link p-0 text-white">الاسئلة الشائعة</a>
                        <a routerLink="/aboutus" class="nav-link p-0 text-white">من نحن؟</a>
                        <a routerLink="/terms" class="nav-link p-0 text-white">الشروط و الاحكام</a>
                    </li>
                </ul>
            </div>






            <div class="row">
                <div class="d-flex d-flex fs-5 align-items-baseline">
                    <p class="text-white me-3">تابعنا على </p>

                    <i class="fa fa-facebook-official me-2"></i>
                    <i class="fa fa-facebook-official me-2"></i>
                    <i class="fa fa-facebook-official me-2"></i>
                    <i class="fa fa-facebook-official me-2"></i>

                </div>

                <div class="row">
                    <p class="text-white">جميع الحقوق محفوظة © شركة مكتبتي للنشر والتوزيع : 2022</p>

                </div>
            </div>
        </div>
    </div>
</footer>