
.content{
    padding: 1em;
}

 p,h2{
    font-weight: 400;
}

 h2{
    font-size: 40px;
    color: #515070;
}


.sidebar{
    height: 100vh;
}

@media (max-width:500px) {

   
   .content{
    width: 100vw;
   }
   .sidebar{
    height: 100%;
}
 

    
    
}