*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;

}

.grid-container{
    display: grid;
    grid-template-columns: .8fr 3fr;
    grid-template-areas: 
    'sidebar content  content content'
    'sidebar content  content content'
    'sidebar content content content ';
    gap: 1rem;
    
}

#sidebar{
    grid-area: sidebar;
    background-color: #f6f6f6;
    padding: 1.5rem;
    height: 768px;
    
}
#sidebar img{
   margin-bottom: 1rem;
    
}

#sidebar h2{
font-size: 23px;
font-weight: 400;
color: #3f3d56;
}

#sidebar p.job-text{
    font-weight: 400;
    color: rgb(106, 103, 103);
    font-size: 12px;
}
#sidebar p.email{
    font-weight: 400;
    color: rgb(196, 194, 194);
    font-size: 10px;
}

div.socials{
    padding-top: .4rem;
    font-size: 30px;
    
}

#sidebar a{
    color: inherit;
}
#sidebar a:hover{
    color: rgb(106, 32, 114);
}

.content{
    grid-area: content;
    
}

.flex-container{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
}

.project-item{
    width: 350px;
}
