<section id="nav">
    <div class="container">
        <nav class="navbar navbar-expand-lg fw-bolder navbar-light ">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white" style="background-color: #009c96;">جميع الاقسام</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/home" class="nav-link" routerLinkActive="menu-active"
                        [routerLinkActiveOptions]="{exact:true}">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/books" class="nav-link" routerLinkActive="menu-active"
                        [routerLinkActiveOptions]="{exact:true}">اخترنا لكم</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/books/new" class="nav-link" routerLinkActive="menu-active">أضيف توا</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">مشاهير الكتاب</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/publishers" class="nav-link" routerLinkActive="menu-active">دور النشر</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/aboutus" class="nav-link" routerLinkActive="menu-active">من نحن ؟</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">اتصل بنا</a>
                </li>
            </ul>
        </nav>
    </div>

</section>