<div class="container">
    <div class="display-5 mb-4">صفحة المبيعات</div>



    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">اسم المستخدم</th>
                            <th scope="col">اسم الكتاب</th>
                            <th scope="col">الكمية</th>
                            <th scope="col">السعر الكلي</th>
                            <th scope="col">تاريخ العملية</th>
                            <th scope="col">حالة الطلب</th>
                            <th scope="col">العملية</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of sales;let i=index">
                            <th>{{i+1}}</th>
                            <td>{{sale.appUser.userName}}</td>
                            <td>{{sale.book.name}}</td>
                            <td>{{sale.amount}}</td>
                            <td>{{sale.totalPrice}}</td>
                            <td>{{sale.orderDate | date}}</td>
                            <td *ngIf="sale.status === 0">
                                <span class="badge bg-info p-2">انتظار الموافقة</span>

                            </td>
                            <td *ngIf="sale.status === 1">
                                <span class="badge bg-success p-2">مقبول</span>

                            </td>
                            <td *ngIf="sale.status === 2">
                                <span class="badge bg-danger p-2">مرفوض</span>

                            </td>
                            <td>
                                <button class="btn btn-secondary mx-2" *ngIf="sale.status != 1" [swal]="{icon:'info',
                                title: 'تأكيد عملية تغيير الحالة' ,
                                text:'هل انت متأكد من قبول طلب الشراء  ؟',
                                showCancelButton: true,confirmButtonText: 'تأكيد',cancelButtonText:'الغاء' }"
                                    (confirm)="HandleUpdateStatus(sale.id,1)">تأكيد الطلب</button>

                                <button class="btn btn-danger mx-2" *ngIf="sale.status != 2" [swal]="{icon:'warning',
                                title: 'تأكيد عملية تغيير الحالة' ,
                                text:'هل انت متأكد من رفض الطلب ؟',
                                showCancelButton: true,confirmButtonText: 'تأكيد',cancelButtonText:'الغاء' }"
                                    (confirm)="HandleUpdateStatus(sale.id,2)">رفض الطلب</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>