<section id="books-row">

    <div class="container">
        <h2 class="fs-1 mb-3 fw-bold">اصدارات جديدة</h2>

        <div class="row">
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 ">
                <div class="d-flex flex-column">
                    <img src="../assets/img/book-1.png" class="img-fluid">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">$12.00</p>
                            <span class="align-self-center m-2 text-muted">$19.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
