<section id="books-row" class="mb-5">

    <div class="container">
        <div class="row mb-4">
            <div class="col-6">
                <h2 class="fs-1  fw-bold">اصدارات جديدة</h2>
            </div>

            <div class="col-6 text-end">
                <a href="#" class="fw-bold fs-2 text-decoration-none text-dark">المزيد</a>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-2 " *ngFor="let book of books$ | async">
                <div class="d-flex flex-column">
                    <img [src]="imagesUrl + '/'+book.image" class="img-thumbnail">
                    <div class="flex-column text-center ">

                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <div class="d-flex flex-row justify-content-center">
                            <p class="price fs-5 fw-bold m-0">${{book.price}}</p>
                            <span class="align-self-center m-2 text-muted">${{book.discount}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>