<div class="sidebar">
  <div class="sticky">
    <img src="./assets/profile.png" alt="profile">
    <a href="index.html" class="dev-name">
      Mohamed AlQadeery
    </a>
    <p class="job-text">Web Developer</p>
    <p class="email">moh9amad1@gmail.com</p>

    <div class="socials">
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-twitch"></i></a>
      <a href="#"><i class="bi bi-github"></i></a>
    </div>

    <a [routerLink]="['posts']" class="btn">Posts</a>
    <a [routerLink]="['projects']" class="btn ">Projects</a>

    <div class="sidebar-footer">
      Created By <i class="bi bi-heart-fill heart"></i> Mohamed AlQadeery
    </div>
  </div>


</div>
