
<div class="display-5 mb-5">Categories Page</div>

<div class="table-responsive ">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categoires;let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{category.name}}</td>
        <td>{{category.createdAt | date}}</td>
        <td>
          <a [routerLink]="'/admin/categories/'+category.id" class="btn
            btn-info
            me-2">Edit</a>
          <button class="btn btn-danger"
            [swal]="{ title: 'Are you sure u want to delete this category ?',
            showCancelButton: true }"
            (confirm)="HandleOnDelete(category.id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>

</div>
